@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: rgb(228, 149, 76);
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    font-family: "Great Vibes", cursive;
}