.header {
    position: relative;
    z-index: 1;
}

.header a {
    color: var(--btn-hover-color);
    text-decoration: none;
}


.header__background {
    background-color: #212020;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50.7% 0%;
}

.header__brand-link{
    font-size: 21px;
    font-family: "Prata", serif;
    color: var(--btn-hover-color);
}

.header__hype{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    order: 2;
}

.header__hype-text, .header__hype-contacts{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--btn-hover-color);
}

.header__hype-link a{
    text-decoration: underline;
}

.header__hype-highlight{
    color: var(--title-color);
}

.header__nav {
    background-color: #212020;
    display: flex;
    flex-direction: column;
}

.header__nav-handling {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.header.nav-visible .header__nav-block {
    transform: translateY(0);
}

.header__menu-container{
    order: 1;
}

.header__socialmedia{
    order: 3;
}

.header__socialmedia-container{
    display: flex;
    flex-direction: row;
}

.header__social svg {
    width: 30px; 
    height: 30px; 
    fill: var(--title-color); 
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    color: var(--location-color);
    letter-spacing: 0;
    gap: 20px;
}

.nav-list__item a {
    position: relative;
    display: inline-block;
}

.header__nav-block {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
    z-index: 1;
    overflow-y: auto;
}
  
.header.nav-visible .header__nav-block {
    transform: translateY(10%);
}

.header__menu-btn {
    display: block;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: opacity 0.5s ease;
    order: 3;
}

.header__menu-btn:hover {
    opacity: 0.6;
}

.header__navicon {
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background: var(--btn-hover-color);
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.header__navicon::before,
.header__navicon::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: var(--btn-hover-color);
    transition: all 0.2s ease-out;
}

.header__navicon:before {
    top: 7px;
}

.header__navicon:after {
    top: -7px;
}

.header.nav-visible .header__background,
.header.nav-visible .header__nav-block {
    background: #212020;
}

.header.nav-visible .header__navicon {
    background: transparent;
}

.header.nav-visible .header__navicon::before {
    transform: rotate(-45deg);
}

.header.nav-visible .header__navicon::after {
    transform: rotate(45deg);
}

.header.nav-visible .header__navicon::before,
.header.nav-visible .header__navicon::after {
    top: 0;
}

.header__clone-container {
    display: none;
  }

@media (min-width: 1000px) {
    .header__hype{
        display: none;
    }

    .header__menu-btn {
        display: none;
    }

    .header__background {
        background-position: 100%;
    }

    .header__nav {
        max-width: 1200px;
        margin: auto;
        background-color: #212020;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .header__clone-hype{
        background-color: #2B2B2B;
    }
    .header__clone-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        height: 35px;
        padding: 0px 20px;
    }

    .header__nav-handling{
        grid-column: span 2;
        order: 2;
        padding: 20px;
    }

    .header__nav-block {
        grid-column: span 8;
        order: 3;
        position: static;
        transform: translateY(0);
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 200px;
        padding: 20px;

    }

    .nav-list {
        flex-direction: row;
        font-size: 15px;
        gap: 15px;
    }


}