@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,400;0,700;1,400&family=Prata&display=swap");

/*
font-family: "Lato", sans-serif;
font-family: "Great Vibes", cursive;
font-family: "Prata", serif;
font-family: "Lato", serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: rgb(228, 149, 76);
  --btn-hover-color: #fff;
  --st-background-color: #212020;
  --item-description-color: rgb(215, 215, 215);
  --location-color: #ffffffb3;
  --location-icon-color: rgb(154, 94, 51);
  --recipe-bg-color: #2b2b2b;
  --description-recipes-color: #d7d7d7;
  --recipe-text-color: #c3c3c3;
  --white-default-color: #ffff;
  --devider-color: #9a5e33;
  --dark-default-color: #000;
  --quote-icon-color: #9a5e33;
  --advantages-description-color: rgb(195, 195, 195);
  --hr-default-style: 1px solid var(--recipe-bg-color);
  --hr-section-divider: 3px solid rgb(87 87 87);
  --st-carousel-numeration-color: rgb(63 62 62);
  scroll-behavior: smooth;
  background-color: var(--st-background-color);
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: "Great Vibes", undefined;
  color: var(--title-color);
  font-weight: 400;
  font-style: normal;
}
p {
  color: #fff;
  font-family: "Prata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul,
ul li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.single-recipe__title {
  color: var(--title-color);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.2;
  font-family: "Prata", serif;
  margin-bottom: 16px;
}

hr {
  border: var(--hr-default-style);
  margin-bottom: 48px;
}
