@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,400;0,700;1,400&family=Prata&display=swap");

/*
font-family: "Lato", sans-serif;
font-family: "Great Vibes", cursive;
font-family: "Prata", serif;
font-family: "Lato", serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: rgb(228, 149, 76);
  --btn-hover-color: #fff;
  --st-background-color: #212020;
  --item-description-color: rgb(215, 215, 215);
  --white-default-color:#ffff;
  --dark-default-color:#000;
  --recipe-bg-color:#2B2B2B;
  --description-recipes-color:#d7d7d7;
  --devider-color: #9A5E33;
  scroll-behavior: smooth;
  background-color: var(--st-background-color);
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: "Great Vibes", undefined;
  color: var(--title-color);
  font-weight: 400;
  font-style: normal;
}
p {
  color: #fff;
  font-family: "Prata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul,
ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
