.section--two-columns {
  background-image: url(../assets/images/sustainability/sustainability_upper_background_image.png);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.section__column {
  flex: 1;
  min-width: 200px;
}

.section__column--left {
  /* no styles so far */
}

.section__column--right {
  /* no styles so far */
}

.btn {
    width: 200px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    padding: 15px 30px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #9a5e33;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #E4954C;
}

.btn:focus {
    outline: 2px solid #0056b3;
}

.btn:active {
    background-color: #0056b3;
}
