.chef-message__quote-icon {
    color: #9a5e33;
}

.chef-message__text {
    font-size: 24px;
    font-family: "Prata", serif;
}

.chef-message__author {
    font-size: 14px;
}

.advantages__title {
    font-size: 22px;
    color: var(--btn-hover-color);
}

.advantages__description {
    font-size: 17px;
    color: rgb(195,195,195)
}

.advantages__dash-icon {
    width: 42.9px;
    height: 33.99px;
}