.sustainability {
    background-color: #212020;
    padding: 120px 0px;   
}

 .sustainability__button {
    color: white;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    padding: 15px 30px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    font-family: sans-serif;
    background-color: #9a5e33;
    transition: background-color 0.3s ease;
  }

  .sustainability__button:hover {
    background-color: #E4954C; /* Колір кнопки */
  }

  .button__link {
    text-decoration: none;
    color: inherit; /* Спадковий колір */
  }

  .sustainability__button:focus {
    outline: 2px solid #0056b3;
  }

  .sustainability__button:active {
    background-color: #0056b3;
  }
