.main__aboutus {
    background-color: rgb(33, 32, 32);
    padding: 120px 0px;
}

.main__aboutusinner {
    display: flex;
    justify-content: space-between;
    /* розподіл простору між блоками */
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.main__leftsize {
    padding: 0px 15px;
    width: 400px;
}

.main__aboutus-features {
    padding: 0px 15px;
    width: 300px;
    font-family: "Lato", sans-serif;
}

h2 {
    color: rgb(228, 149, 76);
    font-size: 2.5rem;
    margin: 0;
}

.main__aboutus-subtitle {
    font-family: "Prata", sans-serif;
    font-size: 42px;
    color: rgb(255, 255, 255);
    margin: 15px 0;
}

.main__aboutus-smelltext {
    color: rgb(215, 215, 215);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.main__aboutus-text {
    color: rgb(195, 195, 195);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 25px 0;
}

.main__aboutus-subtitle span {
    color: rgb(228, 149, 76);
}

.main__aboutus-spikelet {
    margin: 20px 0;
    text-align: left;
}

.main__aboutus-pdf {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main__aboutus-pdf img {
    filter: invert(43%) sepia(77%) saturate(400%) hue-rotate(345deg) brightness(95%) contrast(88%);
}

.main__aboutus-pdf-text {
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 14px;

}

.main__aboutus-basket {
    text-align: center;
    max-width: 530px;
    min-width: 300px;
    flex: 1;
    padding: 0 15px;
}

.main__aboutus-feature {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: start;
}

.main__aboutus-feature-text p {
    margin-bottom: 5px;
}

.main__aboutus-feature-heading {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
}

.main__aboutus-feature-description {
    font-size: 16px;
    color: rgb(195, 195, 195);
    font-family: "Lato", sans-serif;
}

@media (max-width: 1280px) {
    .main__aboutusinner {
        padding: 0px 24px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 24px
    }

    .main__aboutusinner {
        flex-direction: column;
        align-items: center;
        padding: 0px 18px;
    }

    .main__leftsize {
        width: 100%;
        margin-bottom: 70px;
    }

    .main__aboutus-features {
        width: 100%;
        margin-top: 70px;
    }
}

@media (max-width: 420px) {
    h2 {
        font-size: 18px
    }
}