.sweet-treats {
  background-color: var(--st-background-color);
  min-width: 320px;
  padding-top: 90px;
  padding-bottom: 90px;
  .sweet-treats__inner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
  }
  .sweet-treats__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    text-align: center;

    .sweet-treats__title {
      padding: 30px;
      font-size: clamp(1rem, 5vw, 2.375rem);
      color: var(--title-color);
    }
    .sweet-treats__subtitle {
      font-size: clamp(2.125rem, 1vw, 2.75rem);
      color: var(--btn-hover-color);
      display: inline;
    }
    .sweet-treats__separator {
      font-size: clamp(2.125rem, 1vw, 2.75rem);
      color: var(--title-color);
      display: inline;
    }
    .sweet-treats__row {
      display: flex;
      align-items: center;
    }
    .locations__divider {
      width: clamp(125px, 10%, 600px);
      max-width: 90%;
      margin: 25px auto;
    }
    .sweet-treats__description {
      font-family: "Lato", sans-serif;
      font-size: 19px;
      margin-bottom: 35px;
    }
  }
  .sweet-treats__content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 15px;
    position: relative;
  }

  .sweet-treats__list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .sweet-treats__card {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .product-card__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
  }
  .product-card__details,
  .product-card__description {
    padding-top: 20px;
  }

  .product-card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .product-card__title {
    color: var(--white-default-color);
    font-family: "Prata", serif;
    font-size: 22px;
    margin: 10px;
  }
  .product-card__detail {
    font-family: "Lato", sans-serif;
    color: var(--white-default-color);
    font-size: 17px;
    padding-bottom: 15px;
  }
  .product-card__label {
    font-family: "Lato", sans-serif;
    color: var(--title-color);
    font-size: 17px;
    font-weight: bold;
    margin: 25px;
    margin-right: 1px;
  }
  .product-card__ingredients {
    color: var(--item-description-color);
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }
  .product-card__ingredient {
    color: var(--white-default-color);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  .sweet-treats__icon {
    width: 24px;
    height: 24px;
  }
  .sweet-treats__button-prev,
  .sweet-treats__button-next {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .sweet-treats__button-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .sweet-treats__button-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transform: translateY(-50%) rotate(180deg);
  }
  .sweet-treats__button-prev svg,
  .sweet-treats__button-next svg {
    width: 40px;
    height: 40px;
  }
  @media (min-width: 600px) {
    .sweet-treats__list {
      grid-auto-columns: calc(50% - 1rem);
    }
    .sweet-treats__content {
      flex-direction: row;
      justify-content: center;
    }
  }

  @media (min-width: 900px) {
    .sweet-treats__list {
      grid-auto-columns: calc(33.333% - 1rem);
    }
  }

  .sweet-treats__list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
