.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px 0;
}

.stats__number {
  font-size: 48px;
  color: var(--title-color);
  margin: 0;
}

.stats__line {
  width: 40px;
  height: 4px;
  color: var(--title-color);
  border: none;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.stats__description {
  font-size: 16px;
  margin: 0;
}
