.sweet-treats {
  background: linear-gradient(rgb(22 21 21 / 94%), #181717f0),
    url(../assets/images/steps/background.jpg);
  min-width: 320px;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  .sweet-treats__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .sweet-treats__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    text-align: center;

    .sweet-treats__title {
      padding: 30px;
      font-size: clamp(1rem, 5vw, 2.375rem);
      color: var(--title-color);
    }
    .sweet-treats__subtitle {
      font-size: clamp(2.125rem, 1vw, 2.75rem);
      color: var(--btn-hover-color);
      display: inline;
    }
    .sweet-treats__separator {
      font-size: clamp(2.125rem, 1vw, 2.75rem);
      color: var(--title-color);
      display: inline;
    }
    .sweet-treats__row {
      display: flex;
      align-items: center;
    }
    .locations__divider {
      width: clamp(125px, 10%, 600px);
      max-width: 90%;
      margin: 25px auto;
    }
    .sweet-treats__description {
      font-family: "Lato", sans-serif;
      font-size: 19px;
      margin-bottom: 35px;
    }
  }
  .sweet-treats__content {
    display: flex;
    margin: 0 25px;
    position: relative;
    padding: 0 25px;
  }
  .product-card__number {
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    color: var(--st-carousel-numeration-color);
  }

  .sweet-treats__list {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    transition: transform 0.5s ease-in-out;
    width: 80%;
    grid-auto-columns: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sweet-treats__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .product-card__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 10px;
    width: 70%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
  .product-card__details,
  .product-card__description {
    padding-top: 20px;
  }

  .product-card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .product-card__title {
    color: var(--white-default-color);
    font-family: "Prata", serif;
    font-size: 22px;
    margin: 10px;
  }
  .product-card__detail {
    font-family: "Lato", sans-serif;
    color: var(--white-default-color);
    font-size: 17px;
    padding-bottom: 15px;
  }
  .product-card__label {
    font-family: "Lato", sans-serif;
    color: var(--title-color);
    font-size: 17px;
    font-weight: bold;
    margin: 25px;
    margin-right: 1px;
  }
  .product-card__ingredients {
    color: var(--item-description-color);
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }
  .product-card__ingredient {
    color: var(--white-default-color);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  .sweet-treats__icon {
    width: 24px;
    height: 24px;
  }
  .sweet-treats__button-prev,
  .sweet-treats__button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2;
    padding: 0;
  }
  .sweet-treats__button-next {
    right: 10px;
  }
  .sweet-treats__button-prev {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
  .sweet-treats__button-prev svg,
  .sweet-treats__button-next svg {
    width: 25px;
    height: 25px;
    fill: var(--white-default-color);
  }
  @media (min-width: 600px) and (max-width: 899px) {
    .sweet-treats__list {
      grid-auto-columns: calc(50% - 0.5rem);
    }

    .sweet-treats__content {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      padding: 0 20px;
    }

    .sweet-treats__header {
      padding: 0 20px;
    }
    .sweet-treats__title {
      font-size: clamp(1.5rem, 4vw, 2.25rem);
      margin: 20px 0;
    }
    .sweet-treats__subtitle {
      font-size: clamp(1.25rem, 3vw, 2rem);
    }
    .sweet-treats__description {
      font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
  }
  @media (max-width: 599px) {
    .sweet-treats__header {
      padding: 0 25px;
    }
    .sweet-treats__title {
      font-size: clamp(1.25rem, 4vw, 2rem);
      margin: 15px 0;
    }
    .sweet-treats__subtitle {
      font-size: clamp(1rem, 3vw, 1.75rem);
    }
    .sweet-treats__description {
      font-size: clamp(0.9rem, 2vw, 1.25rem);
    }
    .sweet-treats__content {
      gap: 10px;
      padding: 0 10px;
      justify-content: center;
    }
    .sweet-treats__list {
      grid-auto-columns: 100%;
    }
    .product-card__image-wrapper {
      aspect-ratio: 1 / 1;
    }

    .sweet-treats__button-prev,
    .sweet-treats__button-next {
      width: 30px;
      height: 30px;
    }

    .sweet-treats__button-prev svg,
    .sweet-treats__button-next svg {
      width: 15px;
      height: 15px;
    }
  }

  @media (max-width: 900px) {
    .sweet-treats__button-prev,
    .sweet-treats__button-next {
      background: var(--white-default-color);
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
    .sweet-treats__button-prev svg,
    .sweet-treats__button-next svg {
      width: 25px;
      height: 25px;
      fill: var(--dark-default-color);
    }
  }

  @media (min-width: 900px) {
    .sweet-treats__list {
      grid-auto-columns: calc(33.333% - 0.66rem);
    }
    .sweet-treats__header {
      padding: 0 30px;
    }
    .sweet-treats__title {
      font-size: clamp(2rem, 4vw, 2.5rem);
      margin: 30px 0;
    }
    .sweet-treats__subtitle {
      font-size: clamp(1.5rem, 3vw, 2.25rem);
    }
    .sweet-treats__description {
      font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    }
    .sweet-treats__content {
      flex-direction: row;
      justify-content: center;
      gap: 25px;
      padding: 0 30px;
    }
  }
}
