.chef {
    background-image: "assets/images/chef/background-chef.png"
}

.chef-message__quote-icon {
    color: var(--quote-icon-color);
    width: 50px;
    height: 50px;
}

.chef-message__text {
    color: var(--btn-hover-color);
    font-family: "Prata", serif, cursive;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.chef-message__author {
    color: var(--title-color);
    font-family: "Great Vibes", undefined;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.advantages__title {
    color: var(--btn-hover-color);
    font-family: "Prata", serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.advantages__description {
    color: var(--advantages-description-color);
    font-family: "Prata", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}

.advantages__dash-icon {
    width: 42.9px;
    height: 33.99px;
}