.recipe__details {
  border-top: var(--hr-default-style);
  padding: 100px 40px 20px 40px;
  background-color: var(--st-background-color);
  .recipe__details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 64px;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .recipe__ingredients-container {
      .recipe__ingredients-list {
        padding-left: 20px;
      }
      .recipe__ingredients-list > li {
        font-family: "Lato", sans-serif;
        color: var(--recipe-text-color);
        list-style-type: disc;
        font-style: italic;
        font-size: 17px;
        margin-bottom: 8px;

        &::marker {
          color: var(--location-icon-color);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .recipe__description-container {
    .recipe__description-info {
      color: var(--recipe-text-color);
      font-size: 17px;
      font-family: "Lato", sans-serif;
      margin-bottom: 40px;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
      .recipe__description-info-accent {
        color: var(--white-default-color);
        font-weight: 700;
      }

      .recipes__description-accent {
        font-weight: 600;
        color: var(--title-color);
      }
    }
  }

  .recipe__description-img-container {
    max-width: 100%;
    object-fit: cover;
    @media screen and (min-width: 600px) {
      grid-row: 2/3;
      grid-column: 1/3;
    }
    .recipe__description-img {
      display: block;
      width: 100%;
      border: 16px solid var(--recipe-bg-color);
    }
  }
}

/* Instruction section*/

.recipe__instruction {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;

  .recipe__instruction-list {
    font-size: 17px;
    color: var(--recipe-text-color);
    font-family: "Lato", serif;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 20px;
    column-count: 1;

    @media (min-width: 750px) {
      column-count: 2; /* Two columns for wider screens */
      column-gap: 120px;
    }
    .recipe__instruction-item {
      break-inside: avoid;
      margin-bottom: 16px;

      &:nth-child(3) {
        margin-bottom: 56px;

        @media (min-width: 750px) {
          margin-bottom: 0;
        }
      }

      .recipe__instruction-item-accent {
        color: var(--white-default-color);
      }
    }
  }

  .recipe__instruction-tips {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;

    @media (min-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .recipe__instruction-tip {
      display: flex;
      align-items: flex-start;
      gap: 12px;

      .recipe__instruction-tip-img {
        border-radius: 100%;
        padding: 10px;
        background-color: var(--recipe-bg-color);

        display: block;
        width: 48px;
      }
      .recipe__instruction-text {
        font-size: 17px;
        font-weight: 400;

        color: var(--recipe-text-color);
        font-family: "Lato", serif;
        line-height: 1.5;
        .recipe__instruction-text-accent {
          color: var(--white-default-color);
        }
      }
    }
  }
}

/* More recipes section*/
.more-recipes {
  padding: 48px 40px;
  border-bottom: var(--hr-section-divider);

  .more-recipe__carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 72px 24px;
    border-bottom: var(--hr-default-style);
    border-top: var(--hr-default-style);

    .more-recipe__carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: var(--white-default-color);
      color: var(--dark-default-color);
      border: none;
      border-radius: 100%;
      padding: 6px 12px;
      cursor: pointer;
      z-index: 20;

      @media (min-width: 950px) {
        background: none; /* Видаляємо фон */
        font-size: 24px; /* Збільшуємо розмір кнопок */
        color: var(--recipe-text-color);
      }
      &.prev {
        left: 2px;
        @media (min-width: 950px) {
          left: -12px;
        }
      }

      &.next {
        right: 2px;
        @media (min-width: 950px) {
          right: -12px;
        }
      }
    }

    .more-recipe__carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
      height: 100%;
      gap: 32px;
      .more-recipes__card {
        display: flex;
        flex: 0 0 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        width: 100%;
        height: 100%;

        @media (min-width: 750px) {
          flex: 0 0 calc(50% - 16px);
        }

        @media (min-width: 950px) {
          flex: 0 0 calc(33.33% - 21.33px); /* Три елементи при ширині ≥ 950px */
        }

        .more-recipes__card-img {
          width: 100%;
          object-fit: contain;
        }

        .more-recipes__card-title {
          font-family: "Prata", serif;
          font-size: 22px;
          font-weight: 300;
          color: var(--white-default-color);
        }

        .more-recipes__card-divider {
          border: 2px solid var(--devider-color);
          height: 2px;
          width: 15%;
        }

        .more-recipes__card-ingredients {
          font-family: "Lato", sans-serif;
          font-size: 17px;
          color: var(--description-recipes-color);
          line-height: 1.5;

          .more-recipes__card-ingredients-label {
            color: var(--title-color);
          }
        }
      }

      .recipes__card-button {
        display: inline-block;
        padding: 10px 32px;
        border-radius: 100px;
        text-decoration: none;
        background-color: var(--quote-icon-color);
        color: var(--white-default-color);
        font-size: 15px;
        font-weight: 700;
        font-family: "Lato", sans-serif;

        &:hover {
          color: var(--dark-default-color);
          background-color: var(--white-default-color);
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}
