.recipe__details{
   
    padding: 100px 20px 20px 0;
    background-color: var(--st-background-color);

    .recipe__details-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        gap:64px;
        .recipe__ingredients-container{
           
            .recipe__ingredients-title{
                color: var(--title-color);
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0.2;
                font-family: "Prata", serif;
                margin-bottom: 16px;

            }
            .recipe__ingredients-list{
                padding-left: 20px;
            }
            .recipe__ingredients-list > li{
                font-family: "Lato", sans-serif;
                color: var(--recipe-text-color);
                list-style-type: disc; 
                font-style: italic;
                font-size: 17px;

                &::marker {
                    color: var(--location-icon-color);
                }
            }
        }

        .recipe__description-container{
            .recipe__description-title{
                color: var(--title-color);
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0.2;
                font-family: "Prata", serif;
                margin-bottom: 16px;

                
            }
            .recipe__description-info {
                color: var(--recipe-text-color);
                font-size: 17px;
                font-family: "Lato", sans-serif;

            
                .recipe__description-info-accent {
                    color: var(--white-default-color);
                    font-weight: 700;
                }

                .recipes__description-accent{
                    font-weight: 600;
                    color: var(--title-color);
                }
            }
            
        }

        .recipe__description-img-container{
            max-width: 100%;
            object-fit: cover;
            @media screen and (min-width:800px){
                grid-row: 2/3;
                grid-column: -1/1;

            }
            .recipe__description-img{ 
                display: block;
                width: 100%;
                border: 16px solid var(--recipe-bg-color);
             }
        }
}

}

hr{
    border: 1px solid var(--recipe-bg-color);
    margin-bottom: 24px;
}