<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catering Page | Bakery Website</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="catering__header header">
      <div class="catering__header-background">
        <div class="catering__header-main">
          <nav
            class="header__nav"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header-nav.partial.html"
          ></nav>
          <div class="catering__header-hero">
            <h2 class="catering__header-hero-title">Catering</h2>
            <p class="catering__header-hero-subtitle">
              <a class="catering__header-home-link" href="index.html"
                >Home > </a
              ><span class="catering-span">Catering</span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-locations.partial.html"
      ></section>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
