<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakery | Contacts</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="assets/favicons/site.webmanifest" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header class="contacts__header header">
      <div class="header__img-cover">
        <div class="contacts__header__wrapper">
          <nav
            class="header__nav"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header-nav.partial.html"
          ></nav>
          <div class="contacts__header__hero">
            <h2 class="contacts__header__hero__title">Contacts</h2>
            <p class="contacts__header__hero__paragraph">
              <a class="contacts__header__hero__home-link" href="index.html"
                >Home > </a
              ><span class="contacts-span">Contacts</span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="contacts.section-faq.partial.html"
      ></section>
      <section class="section-contacts__map">
        <iframe
          class="contacts-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25100.657350711033!2d-73.94848909827674!3d40.826727074440356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f67cac4a8f05%3A0xd186f32a47724efc!2s467%20W%20144th%20St%2C%20New%20York%2C%20NY%2010031%2C%20USA!5e0!3m2!1sen!2sua!4v1734382732292!5m2!1sen!2sua"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-locations.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./js/contacts.js"></script>
  </body>
</html>
