<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakery | Contacts</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="assets/favicons/site.webmanifest" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header class="contacts__header header">
      <div class="header__img-cover">
        <div class="contacts__header__wrapper">
          <nav
            class="header__nav"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header-nav.partial.html"
          ></nav>
          <div class="contacts__header__hero">
            <h2 class="contacts__header__hero__title">Contacts</h2>
            <p class="contacts__header__hero__paragraph">
              <a class="contacts__header__hero__home-link" href="index.html"
                >Home > </a
              ><span class="contacts-span">Contacts</span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="contacts__faq">
        <div class="contacts__faq__wrapper">
          <div class="contacts__faq__text">
            <div class="contacts__faq__text-content">
              <h2 class="contacts__faq__title">Faq</h2>
              <p class="contacts__faq__question">Have Questions?</p>
              <p class="contacts__faq__another-text">Fill out the form on the right or browse through the section below.</p>
              <p class="contacts__faq__pararagraph">
                Whether you’re interested in placing an order, learning more
                about our catering services, or just want to ask a question,
                feel free to reach out. Our team is here to help make your
                experience as delightful as our baked goods!
              </p>
            </div>
            <div class="contacts__faq__accordions__block">
              <div class="contacts__faq__for-line">
                <div class="contacts__btn__wrap">
                  <p class="contacts__accordion">
                     Do you offer gluten-free or vegan options?
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="float: right;" class="contacts__faq__arrow-svg">
                    <path
                      fill-rule="nonzero"
                      style="fill: #fff;"
                      d="M7.5 9.066L2.12 4.284a1.12 1.12 0 0 0-1.49 0c-.44.39-.44.997 0 1.388l6.125 5.444c.198.176.5.284.745.284.301 0 .526-.089.745-.284l6.125-5.444c.225-.2.33-.41.33-.694s-.105-.495-.33-.694a1.12 1.12 0 0 0-1.49 0L7.5 9.066z"
                    ></path>
                  </svg>
                </div>
                <div class="contacts__panel">
                  <p class="contacts__panel__text">
                    Yes! We offer a selection of gluten-free and vegan products,
                    including bread, pastries, and desserts. Be sure to ask our
                    staff for the daily options when you visit.
                  </p>
                </div>
                
              </div>
              <div class="contacts__faq__for-line">
                <div class="contacts__btn__wrap">
                  <p class="contacts__accordion">
                    Can I place a custom cake order?
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="float: right;" class="contacts__faq__arrow-svg">
                    <path
                      fill-rule="nonzero"
                      style="fill: #fff;"
                      d="M7.5 9.066L2.12 4.284a1.12 1.12 0 0 0-1.49 0c-.44.39-.44.997 0 1.388l6.125 5.444c.198.176.5.284.745.284.301 0 .526-.089.745-.284l6.125-5.444c.225-.2.33-.41.33-.694s-.105-.495-.33-.694a1.12 1.12 0 0 0-1.49 0L7.5 9.066z"
                    ></path>
                  </svg>
                </div>
                <div class="contacts__panel">
                  <p class="contacts__panel__text">
                    Absolutely! We specialize in custom cakes for all occasions. Simply contact us with your design and flavor preferences, and we’ll work with you to create the perfect cake for your celebration.
                  </p>
                </div>
                
              </div>
              <div class="contacts__faq__for-line">
                <div class="contacts__btn__wrap">
                  <p class="contacts__accordion">
                    Do you offer catering services?
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="float: right;" class="contacts__faq__arrow-svg">
                    <path
                      fill-rule="nonzero"
                      style="fill: #fff;"
                      d="M7.5 9.066L2.12 4.284a1.12 1.12 0 0 0-1.49 0c-.44.39-.44.997 0 1.388l6.125 5.444c.198.176.5.284.745.284.301 0 .526-.089.745-.284l6.125-5.444c.225-.2.33-.41.33-.694s-.105-.495-.33-.694a1.12 1.12 0 0 0-1.49 0L7.5 9.066z"
                    ></path>
                  </svg>
                </div>
                <div class="contacts__panel">
                  <p class="contacts__panel__text">
                    Yes, we provide catering for events of all sizes, from corporate meetings to weddings. Our catering menu includes a variety of sandwiches, pastries, desserts, and custom cakes. Contact us to discuss your event needs!
                  </p>
                </div>
                
              </div>
              <div class="contacts__faq__for-line">
                <div class="contacts__btn__wrap">
                  <p class="contacts__accordion">
                    What are your hours of operation?
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="float: right;" class="contacts__faq__arrow-svg">
                    <path
                      fill-rule="nonzero"
                      style="fill: #fff;"
                      d="M7.5 9.066L2.12 4.284a1.12 1.12 0 0 0-1.49 0c-.44.39-.44.997 0 1.388l6.125 5.444c.198.176.5.284.745.284.301 0 .526-.089.745-.284l6.125-5.444c.225-.2.33-.41.33-.694s-.105-.495-.33-.694a1.12 1.12 0 0 0-1.49 0L7.5 9.066z"
                    ></path>
                  </svg>
                </div>
                <div class="contacts__panel">
                  <p class="contacts__panel__text">
                    Our bakery is open from 6:00 AM to 9:00 PM Monday through Friday, 7:00 AM to 8:00 PM on Saturday, and 8:00 AM to 6:00 PM on Sunday.
                  </p>
                </div>
                
              </div>
                       
            </div>
          </div>
          <form id="contacts__form"  class="contacts__form">
            <div class="contacts__input-wrap"><input type="text" id="contactsName" class="contact__username" placeholder="Enter your full name*"></div>
            <div class="contacts__input-wrap"><input type="tel" id="contactsTel" class="contact__username" placeholder="Enter your phone number*"></div>
            <div class="contacts__input-wrap"><input type="email" id="contactEmail" class="contact__username" placeholder="Enter your e-mail*"></div>
            <div class="contact__text-area__wrap"><textarea maxlength="500" class="contact__type-s" name="contact__type" id="contact__type" placeholder="Type your message"></textarea></div>
            <div class="contacts__submit__wrap"><button type="submit" class="contacts__submit">Send</button></div>
          </div>
        </form>
      </section>
      <section class="section-contacts__map">
        <iframe
          class="contacts-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25100.657350711033!2d-73.94848909827674!3d40.826727074440356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f67cac4a8f05%3A0xd186f32a47724efc!2s467%20W%20144th%20St%2C%20New%20York%2C%20NY%2010031%2C%20USA!5e0!3m2!1sen!2sua!4v1734382732292!5m2!1sen!2sua"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-locations.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./js/contacts.js"></script>
    
  </body>
</html>
