<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakery</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="assets/favicons/site.webmanifest" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css"/>
  </head>

  <body>
    <header class="header">
      <div class="header__background">
        <nav
          class="header__nav"
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.header-nav.partial.html"
        ></nav>
        <div
          class="header__hero"
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header-hero.partial.html"
        ></div>
      </div>
    </header>
    <main>
      <section
        class="main__aboutus"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-aboutus.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-sustainability-upper.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-sustainability-lower.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-sweet-treats.partial.html"
      ></section>
      <section
        class="section__recipes"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-recipes.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-locations.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-chef.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-exciting_events.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-articles.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-steps.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
