<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes Page | Bakery Website</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="single-recipe__header header">
      <div class="single-recipe__header__wrapper">
        <div class="single-recipe__background">
          <nav
            class="header__nav"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header-nav.partial.html"
          ></nav>
          <div
            class="header__hero-single-recipe-1"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="single-recipe-1.single-hero.partial.html"
          ></div>
        </div>
      </div>
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="single-recipe-1.recipe-details.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="single-recipe-1.recipe-instruction.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="single-recipe-1.more-recipes.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-locations.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="js/single-recipe.js"></script>
    <script type="module" src="js/single-recipe-carousel.js"></script>
    <script type="module" src="js/single-recipe-pages.js"></script>

    <script type="module" src="js/single.recipe-show-pages.js"></script>
  </body>
</html>
